@page "/"
@inject IUnitOfWork unitOfWork;
@inject AuthenticationStateProvider authState;
@inject DialogService dialogService;

<PageTitle>Invoices</PageTitle>

<h1>Invoices</h1>
<PageTitle>Invoices</PageTitle>
<AuthorizeView>
    <Authorized>
        <InvoicesComponent/>
    </Authorized>
    <NotAuthorized>
        Please log in to see your invoices.
    </NotAuthorized>
</AuthorizeView>

@code {
   
}